<h1>
    APICalling Sub Object</h1>
<h2 *ngFor="let item of apiData">
    <table><span style="color:red;"> Id is :</span> {{ item.id }}
        <br><span style="color:red;"> Name : </span>{{ item.name }},
        <br> <span style="color:red;">  Username :</span> {{ item.username }},
        <br> <span style="color:red;"> Email : </span> {{ item.email }},
        <br> <span style="color:red;">Street :</span> {{ item.address.street }},
        <br> <span style="color:red;">Suite : </span>{{ item.address.suite }},
        <br><span style="color:red;"> City :</span> {{ item.address.city }},
        <br><span style="color:red;">Zipcode :</span> {{ item.address.zipcode }},
        <br><span style="color:red;">Address :</span>{{ item.address.geo.lat }}, {{ item.address.geo.lng }},
        <br><span style="color:red;">Phone No :</span> {{ item.phone }},
        <br><span style="color:red;">Website :</span> {{ item.website }},
        <br><span style="color:red;"> Company:</span> {{ item.company.name }}, {{ item.company.catchPhrase }}, {{ item.company.bs }},
        <br>
    </table>
    <hr>
</h2>